# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install numpy -I
          pip install pytest torch mxnet
          pip install nose
          pip install -e .
            
      - name: Run pytest
        run: |
          for f in tests/*.py; do python "$f"; done
